* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: hsl(180, 60%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainLogo {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}
.mainLogo img {
  width: 100px;
}
.cardsParent {
  width: 850px;
  display: flex;
  gap: 10px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
}
/*------ card 1 -------*/
.firstCard {
  width: 50%;
  padding: 30px;
}
.billDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
span {
  width: 100%;
  color: hsl(186, 14%, 43%);
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
}
.billInput {
  background: url(./images/dollar.svg) no-repeat 15px;
  width: 100%;
  height: 46px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: hsl(180, 14%, 80%);
  padding: 10px;
}

.billInput:hover {
  border: 2px solid hsl(172, 67%, 45%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.selectTipParent {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.selectTipParent span {
  flex-basis: 100%;
}
.selectTipParent button {
  width: 100px;
  height: 40px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.selectTipParent button:hover {
  background-color: hsl(180, 60%, 84%);
  color: hsl(183, 100%, 15%);
}
.selectTipParent input {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
  border: none;
  outline: none;
  text-align: right;
  padding: 5px;
}
.numberOfPeopleParent {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.numberOfPeopleParent span {
  flex-basis: 50%;
  width: 50%;
  flex-grow: 2;
}
.redAlertZero {
  text-align: right;
  color: red;
}
.peopleInput {
  background: url(./images/person.svg) no-repeat 15px;
  width: 100%;
  height: 46px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: hsl(180, 14%, 80%);
  padding: 10px;
  margin-top: 10px;
  padding-left: 40px;
}
.peopleInput:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

/*------ card 2 -------*/

.secondCard {
  width: 50%;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  background-color: hsl(183, 100%, 15%);
}
.tipParent,
.totalParent {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.totalParent div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.tipParent span,
.totalParent span {
  color: #fff;
}
.amount {
  text-align: left;
  padding: 10px;
  line-height: 1.5;
  width: 30%;
  font-size: 14px;
}
.person {
  font-size: 13px;
  font-weight: 200;
  color: #7f9d9f !important;
}
.amountValue {
  font-size: 43px;
  font-weight: 700;
  color: hsl(172, 67%, 45%) !important;
  background-color: hsl(183, 100%, 15%);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  text-align: right;
  padding: 10px 20px 0 0;
}
.amountValue img {
  width: 20px;
}
.reseter {
  width: 100%;
  height: 40px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 130px;
}
.reseter:hover {
  background-color: hsl(172, 45%, 64%);
}

@media screen and (max-width: 500px) {
  .App {
    display: block;
  }
  .cardsParent {
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }
  .firstCard {
    width: 100%;
  }
  .selectTipParent button {
    width: 150px;
  }
  .secondCard {
    width: 90%;
    height: 100%;
    margin: 15px;
  }
  .reseter {
    margin-top: 15px;
  }
}
